</body>

{% if not hide_footer %}
<footer class="pp">
    Wikipedia articles are available under the 
    <a href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">
        Creative Commons Attribution-ShareAlike License 3.0</a>.

    <br>
    
    This project is not endorsed, created or maintained by MediaWiki, Wikipedia or its sister projects.
    This is an unofficial project. The source code of this project is
    <a href="https://onlix.me/legal#license" target="_blank" rel="noopener">
        &copy; 2022
    </a>
</footer>
{% endif %}

</html>